{% extends 'base.html' %}
{% load static %}

{% block titulo %}listar{% endblock titulo%}

{% block contenido %}
    <div class="listar">

        
        <div class="submenu-noticias">

            {% for cat in categorias %}
                <a href="?id={{cat.pk}}">{{cat.categoria}}</a>
                

            {% endfor %}
            <a href="{% url 'noticias:listar' %}">Todas</a>
        </div>
        <div class="img-noticias">
            {% for noti in pagi %}
                <div class="posteo-noticias">
                    <a href="{% url 'noticias:detalle' noti.pk %}"><img src="{{noti.imagen.url}}"></a>
                    
                    
                    <a href="{% url 'noticias:detalle' noti.pk %}"><p>{{noti.titulo}}</p></a>
                    
                    <p>{{noti.fecha}}</p>
                    
                    <p>{{noti.categoria_noticia}}</p>
                </div>
            {% endfor %}
    
        </div>

        {% if pagi.has_previous %}
            <a href="?page={{pagi.previous_page_number}}">&laquo  Anterior</a>
        {% endif %}

        {{pagi.number}} de {{pagi.paginator.num_pages}}

        {% if pagi.has_next %}
            <a href="?page={{pagi.next_page_number}}"> Siguiente  &raquo</a>
        {% endif %}
    </div>
    
{% endblock contenido %}